.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  height: 928px;
  position: relative;
  overflow: hidden;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: -77px;
  top: 0px;
}
.group-6 {
  flex-shrink: 0;
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-5 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-4 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-3 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-2 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-1 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.landing-page {
  background: #000000;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.frame-13 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 271px;
  position: absolute;
  left: 175px;
  top: 8px;
}
.frame-72 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sahithya-shetty {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  -webkit-text-stroke: 1px #ffffff;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 208px;
  position: absolute;
  left: 878px;
  top: 13px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 95px;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80px;
  position: absolute;
  left: 1050px;
  top: 23px;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-10 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 93px;
  position: absolute;
  left: 1154px;
  top: 23px;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 84px;
  position: absolute;
  left: 188px;
  top: 171px;
}
.contact-us {
  color: #fffefe;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  width: 882px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-12 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 854px;
}
.sahithya-shetty-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.frame-14 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 188px;
  top: 225px;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #fffefe;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 0undefined;
  font-weight: 400;
  position: relative;
  width: 985px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  -webkit-text-stroke: 1px #000000;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 10px;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 8px;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span3 {
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 8px;
  font-weight: 700;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span4 {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 28px;
}
.reach-out-to-the-course-team-for-support-or-enquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span5 {
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 28px;
  font-weight: 700;
}
